<!-- NEWSLETTER PROPOSITION -->
<div class="newsletter-proposition borders" newsletter-proposition action="/aquafil/homepage.html">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 offset-sm-2 col-md-8 offset-md-3">
				<div class="newsletter-proposition__content">
					<div class="newsletter-proposition__title">Newsletter</div>
					<div class="newsletter-proposition__abstract">Get a preview of our latest news</div>
				</div>
			</div>
			<div class="col-sm-11 offset-sm-1 col-md-9 offset-md-1">
				<form class="form newsletter-proposition__form" [formGroup]="form" (submit)="onSubmit($event)" name="form" role="form" novalidate autocomplete="off">
					<div class="newsletter-proposition__flex">
						<div class="newsletter-proposition__email">
							<div control-email [control]="controls.email" label="Enter your email"></div>
							<svg><use xlink:href="#email"></use></svg>
						</div>
						<div class="newsletter-proposition__cta">
							<button type="submit" class="btn--submit">Sign Up</button>
						</div>
					</div>
					<div class="newsletter-proposition__checkboxes">
						<div class="full" control-checkbox [control]="controls.privacy" [label]="'privacy' | label"></div>
					</div>
					<input name="newsletter" [formControl]="controls.newsletter" value="true" type="hidden" />
					<input name="language" [formControl]="controls.language" value="<?= ICL_LANGUAGE_CODE; ?>" type="hidden" />
				</form>
			</div>
		</div>
	</div>
</div>
