.page--product-list,
.page--landing {
	.page--investors__accordion {
		padding: 40px 0;
		margin: 0;

		.card--calendar {
			@include media-down(xs) {
				flex-direction: column;
			}

			&__category {
				font-family: $font-primary;
				color: $foreground-primary;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			&__title {
				font-family: $font-primary;
				color: #3d5d6c;
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;

				@include media-down(xs) {
					padding-right: 20px;
				}
			}

			&__description {
				color: #3d5d6c;
				font-size: 16px;
				font-style: normal;
				font-weight: 300;
				line-height: 21px;
				/* 131.25% */
				letter-spacing: 1.05px;
			}

			.tag-list {
				display: block;
				align-items: center;
				gap: 8px;

				.btn {
					margin-right: 8px;
					margin-bottom: 8px;
				}
			}

			&__extra {
				padding: 24px 16px;
				border-top: 1px solid #fff;

				.a-icon {
					background: var(--foreground-primary);
					color: var(--foreground-negative);
					padding: 9px 24px;
					border-radius: 500px;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 14px;
					height: 50px;
				}

				ul {
					padding: 0;
					list-style: disc;
					border: 0;

					li {
						list-style-type: disc;

						.a-icon {
							color: #3d5d6c;
							font-family: $font-primary;
							font-size: 16px;
							font-style: normal;
							font-weight: 600;
							line-height: 21px;
							/* 131.25% */
							text-decoration-line: underline;
							text-decoration-style: solid;
							text-decoration-skip-ink: auto;
							text-decoration-thickness: auto;
							text-underline-offset: auto;
							text-underline-position: from-font;
							background: transparent;
							display: block;
							height: auto;
							padding: 0;
						}
					}
				}
			}
		}
	}

	.load-more-container {
		display: flex;
		justify-content: center;
		margin-top: 40px;
		margin-bottom: 40px;

		.load-more-btn {
			&.hidden {
				display: none;
			}
		}
	}

	.hide-section {
		display: none !important;
	}

	.no-results {
		text-align: center;
		padding: 40px 0;

		p {
			color: #3d5d6c;
			font-family: $font-primary;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
		}
	}
}

.product-list__sidebar {
	padding-top: 80px;
	padding-right: 50px;

	@include media-down(sm) {
		padding-right: 0;
	}

	@include media-down(xs) {
		padding: 0;
	}

	@media (min-width: 768px) {
		position: -webkit-sticky;
		position: sticky;
		top: 120px; /* Regola questo valore in base all'altezza dell'header */
		max-height: calc(100vh - 120px);
		overflow-y: auto;
		padding-bottom: 20px;

		/* Nasconde la scrollbar ma mantiene la funzionalità di scroll */
		&::-webkit-scrollbar {
			width: 0;
			background: transparent;
		}

		/* Per Firefox */
		scrollbar-width: none;
	}

	.list-filters {
		.btn {
			&.active {
				background-color: #3d5d6c;
				color: #fff;
			}
		}
	}
}

.sidebar {
	&--item {
		.btn--title {
			color: #3d5d6c;
			background-color: transparent;
			border: 0;
			border-bottom: 1px solid $foreground;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			padding: 8px 0;
			cursor: pointer;

			span {
				font-family: $font-primary;
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}

			svg {
				width: 16px;
				height: 9px;
				transition: transform ease-in-out 0.2s;
			}
		}

		&.active {
			.sidebar--content {
				display: block;
			}

			.btn--title {
				svg {
					transform: rotate(180deg);
					transition: transform ease-in-out 0.2s;
				}
			}
		}
	}

	&--content {
		display: none;
		padding: 16px 0 0;

		.list-filters {
			display: block;

			button {
				margin-right: 0;
				margin-bottom: 8px;
			}
		}

		.filters-title {
			color: var(--text-blue-wht, #3d5d6c);
			font-family: $font-primary;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			margin-bottom: 16px;
		}
	}
}
