.sticky-menu {
	position: sticky;
	z-index: 2;
	background: white;
	border-bottom: 1px solid $border;

	&__title {
		@extend .extrasmall;
		font-weight: $font-bold;
		color: #4D4D4D;
		white-space: nowrap;
	}

	// min-height: 60px;
}

.header.has--nav+.wrapper {
	&>.main>.sticky-menu {

		@include media-up(md) {
			top: 110px;
		}

		@include media-up(lg) {
			top: 160px;
		}

		@include media-down(sm) {
			top: 90px;
		}

		@include media-down(xs) {
			top: 90px;
		}

		@include media-up(sm) {
			&__content {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 18px 0;
			}

			&__title {
				margin-right: var(--p40);
			}
		}

		@include media-down(xs) {
			display: none;

			&__title {
				margin-bottom: var(--p40);
			}
		}
	}
}

.header:not(.has--nav)+.wrapper {
	&>.main>.sticky-menu {
		@include media-up(md) {
			top: 80px;
		}

		@include media-up(lg) {
			top: 100px;
		}

		@include media-down(sm) {
			top: 70px;
		}

		@include media-down(xs) {
			display: none;
		}
	}
}

.nav--scroll-menu {
	@extend %nav;
	width: 100%;
	justify-content: flex-start;
	flex-wrap: wrap;
	line-height: 1;

	&>.nav__item {
		margin: var(--p20);

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&>a {
			@extend .extrasmall;
			display: block;
			white-space: nowrap;
			color: $foreground-secondary;

			&:hover,
			&.active {
				color: $foreground-primary;
			}
		}
	}

	/*
	margin: var(--n20);

	@include media-down(xs) {
		margin: var(--n10);
	}
	*/
}
