<div class="col-sm-15 page--investors__content">
	<h1 class="page--investors__page-title">Financial calendar</h1>





	<section id="financial-calendar">




		<h2 class="page--investors__section-title">Eventi in programma</h2>

		<div class="horizontal-menu">
			<div class="horizontal-menu__content">
				<div class="horizontal-menu__title">Filter by typology</div>
				<ul class="nav--horizontal-menu">
					<li class="nav__item" data-term-id="">
						<a class="active" href="https://www.aquafil.com/magazine/" style="color:inherit">
							<span class="name">
								All </span><span class="count">
								(507)
							</span>
						</a>
					</li>
					<li class="nav__item" data-term-id="66">
						<a href="https://www.aquafil.com/magazine/local-news-croatia/" style="color:inherit">
							<span class="name">
								Reporting Dates </span><span class="count">
								(45)
							</span>
						</a>
					</li>
					<li class="nav__item" data-term-id="68">
						<a href="https://www.aquafil.com/magazine/local-news-slovenia/" style="color:inherit">
							<span class="name">
								Investor Conference </span><span class="count">
								(64)
							</span>
						</a>
					</li>

				</ul>
			</div>

		</div>

		<a href="#" target="_blank" class="btn--more-md">
			<span>Eventi passati</span>
			<svg><use xlink:href="#arrow-next"></use></svg>
		</a>

		<div class="card--calendar reporting-dates">
			<button type="button" class="btn--plus" toggle=".card--calendar"><svg><use xlink:href="#plus"></use></svg></button>
			<div class="card--calendar__left">
				<span class="card--calendar__date">11/11/2021</span>
			</div>
			<div class="card--calendar__right">
				<span class="card--calendar__description">Meeting of the Board of Directors to approve Supplemental Financial Information as of September 30, 2021</span>
			</div>
			<div class="card--calendar__extra">

				<ul>
					<li>

						<add-to-calendar-button
						id="css-part-example"
						label="Aggiungi al calendario"
						name="Nome evento"
						description="A nice description does not hurt"
						startDate="2025-02-21"
						endDate="2025-03-24"
						startTime="10:13"
						endTime="17:57"
						location="Somewhere over the rainbow"
						options="['Apple','Google','iCal','Microsoft365','Outlook.com','Yahoo']"
						timeZone="Europe/Berlin"
						trigger="click"
						buttonStyle='default'
						inline
						listStyle="modal"
						iCalFileName="Reminder-Event"
						hideCheckmark="true"
						/>

					</li>
					<li> <a class="a-icon" href="#"> <span class="icon"> <svg><use xlink:href="#arrow-next-md"></use></svg></span> Financial Statements 2022 </a> </li>
				</ul>
				<ul>
					<li> <a class="a-icon" href="#"> <span class="icon"> <svg><use xlink:href="#download"></use></svg></span> Draft Financial Statements.pdf </a> </li>
					<li> <a class="a-icon" href="#"> <span class="icon"> <svg><use xlink:href="#download"></use></svg></span> Consolidated Financial Statements.pdf </a> </li>
					<li> <a class="a-icon" href="#"> <span class="icon"> <svg><use xlink:href="#download"></use></svg></span> Draft Financial Statements.pdf </a> </li>
					<li> <a class="a-icon" href="#"> <span class="icon"> <svg><use xlink:href="#download"></use></svg></span> Consolidated Financial Statements.pdf </a> </li>
				</ul>

			</div>
		</div>

		<div class="card--calendar reporting-dates">
			<button type="button" class="btn--plus" toggle=".card--calendar"><svg><use xlink:href="#plus"></use></svg></button>
			<div class="card--calendar__left">
				<span class="card--calendar__date">11/11/2021</span>
			</div>
			<div class="card--calendar__right">
				<span class="card--calendar__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
			</div>
			<div class="card--calendar__extra">

				<ul>
					<li>

						<add-to-calendar-button
						id="css-part-example"
						label="Aggiungi al calendario"
						name="Nome evento"
						description="A nice description does not hurt"
						startDate="2024-02-21"
						endDate="2024-03-24"
						startTime="10:13"
						endTime="17:57"
						location="Somewhere over the rainbow"
						options="['Apple','Google','iCal','Microsoft365','Outlook.com','Yahoo']"
						timeZone="Europe/Berlin"
						trigger="click"
						buttonStyle='default'
						inline
						listStyle="modal"
						iCalFileName="Reminder-Event"
						hideCheckmark="true"
						/>

					</li>
					<li> <a class="a-icon" href="#"> <span class="icon"> <svg><use xlink:href="#arrow-next-md"></use></svg></span> Financial Statements 2022 </a> </li>
				</ul>
				<ul>
					<li> <a class="a-icon" href="#"> <span class="icon"> <svg><use xlink:href="#download"></use></svg></span> Draft Financial Statements.pdf </a> </li>
					<li> <a class="a-icon" href="#"> <span class="icon"> <svg><use xlink:href="#download"></use></svg></span> Consolidated Financial Statements.pdf </a> </li>
				</ul>

			</div>
		</div>

		<div class="card--calendar investor-conference">
			<button type="button" class="btn--plus" toggle=".card--calendar"><svg><use xlink:href="#plus"></use></svg></button>
			<div class="card--calendar__left">
				<span class="card--calendar__date">11/11/2021</span>
			</div>
			<div class="card--calendar__right">
				<span class="card--calendar__description">Meeting of the Board of Directors to approve Supplemental Financial Information as of September 30, 2021</span>
			</div>
			<div class="card--calendar__extra">

				<ul>
					<li> <a class="a-icon" href="#"> <span class="icon"> <svg><use xlink:href="#calendar"></use></svg></span> Aggiungi al calendario </a> </li>
					<li> <a class="a-icon" href="#"> <span class="icon"> <svg><use xlink:href="#arrow-next-md"></use></svg></span> Financial Statements 2022 </a> </li>
				</ul>
				<ul>
					<li> <a class="a-icon" href="#"> <span class="icon"> <svg><use xlink:href="#download"></use></svg></span> Draft Financial Statements.pdf </a> </li>
					<li> <a class="a-icon" href="#"> <span class="icon"> <svg><use xlink:href="#download"></use></svg></span> Consolidated Financial Statements.pdf </a> </li>
				</ul>

			</div>
		</div>


	</section>


</div>
